.userDisplay {
  @apply
    flex flex-col relative
    p-2 m-1
    border border-gray-200 bg-white
    transform transition
    hover:shadow-xl
    hover:z-10
  hover:bg-blue-400;

  .avatar {
    @apply rounded-full transition transform origin-left border-2 border-transparent;
  }

  .icon {
    @apply h-4 w-4 mr-2 relative -top-1 inline-block transition;
  }
}